.Button {
    background-color: #FFFFFF;
    padding: 1.5rem 0;
    width: 100%;
    border-radius: 50px;
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: #2300FE;
}

.Button:not(:last-of-type) {
    margin-bottom: 2.5rem;
}

.Alt {
    background-color: #F90DD0;
    color: #FFFFFF;
}