.Main {
    padding: 10rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

.Main section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8rem;
}

.Info {
    display: flex;
    flex-direction: column;
    align-items: center;
}